<div class="categories">
    <div class="title-and-button">
        <h3>Categories:</h3>
        <button 
            (click)="categoryFilters?.length && handleClearCategoriesClicked()"
            [ngStyle]="{ 'visibility': categoryFilters?.length ? 'visible' : 'hidden' }"
        >
            Clear All
        </button>
    </div>
    <div  
        *ngFor="let category of categories"
        (click)="handleCategoryClicked(category)"
        [class.active]="isActiveFilter(category)"
        class="category"
    >
        <span>{{ category.name }}</span>
    </div>
</div>