<header>{{ title }}</header>
<main>
  <section class="projects-grid" >
    <app-projects
      [categoryFilter]="categoryFilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
      [tagFilter]="tagFilter"
      (newTagFilterEvent)="setTagFilter($event)" 
    ></app-projects>
  </section> 
  <section class="sidebar">
    <h3>Categories:</h3>
    <app-categories
      [categoryFilter]="categoryFilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
    ></app-categories>
    <h3>Tags: </h3>
    <app-tags
      [tagFilter]="tagFilter"
      (newTagFilterEvent)="setTagFilter($event)"
    ></app-tags>
    <h3>Current Filters:</h3>
    <div>
      <p *ngIf="categoryFilter">Category: {{ categoryFilter.name }}</p>
      <p *ngIf="tagFilter">Tag: {{ tagFilter.name }}</p>
      <a *ngIf="categoryFilter || tagFilter" (click)="clearFilters()">Clear All</a>
    </div>
  </section>
</main>
<footer>&copy; {{ date.getFullYear() }} {{ author }}</footer>

<router-outlet></router-outlet>
